/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Variables CSS */
:root{
    /* COLORS */
    --hue-color: 240; /* Blue 240; Green 154; Orange 25*/

    --first-color: hsl(var(--hue-color), 53%, 49%);
    --tittle-color: hsl(var(--hue-color), 53%, 30%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #fff;
    --body-color: hsl(var(--hue-color), 24%, 94%);
    
    /* Fonts */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .635rem;
    
    /* Font Weight */
    --font-medium: 500;
    
    /* Margenes */
    --mb-0-25: 0.25rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem;

    /* Z-index */
    --z-normal: 1;
    --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
    :root{
        --biggest-font-size: 3.5rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .75rem;
    }
}

/* Reset CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid{
    display: grid;
}

.clock__container{
    height: 100vh;
    grid-template-rows: 400px max-content;
}

.clock__circle{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: -6px -6px 16px var(--white-color),
                6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
                inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
                inset -6px -6px 16px var(--white-color);
    border-radius: 50%;
    justify-self: center; 
    display: flex;
    justify-content: center;
    align-items: center;           
}

.clock__content{
    align-self: center;
    row-gap: 3.5rem;
}

.clock__twelve, 
.clock__three,
.clock__six,
.clock__nine{
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six{
    transform: translateX(-50%) rotate(90deg);
}

.clock__twelve{
    top: 1.25rem;
    left: 50%;
}

.clock__three{
    right: .75rem;
    top: 50%;
}

.clock__six{
    bottom: 1.25rem;
    left: 50%;
}

.clock__nine{
    left: .75rem;
    top: 50%;
}

.clock__rounder{
    width: .75rem;
    height: .75rem;
    background-color: var(--first-color);
    border-radius: 50%;
    border: 2px solid var(--body-color);
    z-index: var(--z-tooltip);
}

.clock__hour,
.clock__min,
.clock__sec{
    position: absolute;
    display: flex;
    justify-content: center;
}

.clock__hour{
    width: 105px;
    height: 105px;
}

.clock__hour::before{
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 3rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
}
.clock__min{
    width: 136px;
    height: 136px;
}

.clock__min::before{
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 4rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
}

.clock__sec{
    width: 130px;
    height: 130px;
}

.clock__sec::before{
    content: '';
    position: absolute;
    background-color: var(--first-color);
    width: .125rem;
    height: 5rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
}

.clock__logo{
    width: max-content;
    justify-self: center;
    margin-bottom: var(--mb-2-5);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
    transition: .3s;
}

.clock__logo:hover{
    color: var(--first-color);
}

.clock__text{
    display: flex;
    justify-content: center;
}

.clock__text-hour, 
.clock__text-min{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    color: var(--tittle-color);
}

.clock__text-ampm{
    font-size: var(--tiny-font-size);
    color: var(--tittle-color);
    font-weight: var(--font-medium);
    margin-left: var(--mb-0-25);
}

.clock__date{
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.clock__theme{
    position : absolute;
    top: -1rem;
    right: -1rem;
}

.buttonn{
    display: flex;
    padding: .25rem;
    border-radius: 50%;
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
    color: var(--first-color);
    cursor: pointer;
}

body.dark-theme{
    --tittle-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
}

.dark-theme .clock__circle{
    box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1),
                -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
                inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
                inset 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1);
}

.dark-theme .buttonn{
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

@media screen and (min-width: 968px){
    .container{
        margin: auto;
    }
    .clock__logo{
        margin-bottom: 3rem;
    }
}

.bxa{
    font-size: var(--smaller-font-size);
}

.clock__color{
    position : absolute;
    top: -1rem;
    right: -4rem;
}

.color__choose{
    height: 120px;
    position: absolute;
    top: 1rem;
    right: -4rem;
    display: none;
    padding: .25rem;
    border-radius: 30px;
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
    color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.dark-theme .color__choose{
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

#color1{
    color: hsl(240, 53%, 49%);
    cursor: pointer;
}

#color2{
    color: hsl(154, 53%, 49%);
    cursor: pointer;
}

#color3{
    color: hsl(312, 53%, 49%);
    cursor: pointer;
}

#color4{
    cursor: pointer;
    color: hsl(45, 53%, 49%);
}
.sub-text{
    justify-self: center;
    color: #ccc
}